@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul>
        <li><a asp-controller="Recommendations" asp-action="Index">Recommendations</a> </li>
        <li><a asp-controller="Products" asp-action="SelectProductsForBuy">Products</a> </li>
    </ul>  
</div>

<div>
    <h2>View Products</h2>
    <ul>
        <li><a href="/Products/SelectProductsForBuy">View Prodcuts</a></li>
    </ul>
</div>
