@model MikeRosoft.Models.BanViewModels.SelectUsersToBanViewModel

@{
    ViewData["Title"] = "Index";
}

@{
    ViewData["Title"] = "Select Users To Ban";
}

<h1>Select Users For Ban</h1>

<form asp-controller="Bans" class="form-horizontal" aspaction="SelectUsersToBan" method="get">
    <p>
        <div>
            <!-- FILTERING -->
            <!--
            <label asp-for="userID"></label>
            <input asp-for="userID" size="10" />
            <span asp-validation-for="userID" class="text-danger"></span>
            -->
            <label asp-for="userName"></label>
            <input asp-for="userName" size="10" />
            <span asp-validation-for="userName" class="text-danger"></span>

            <label asp-for="userSurname1"></label>
            <input asp-for="userSurname1" size="10" />
            <span asp-validation-for="userSurname1" class="text-danger"></span>

            <label asp-for="userSurname1"></label>
            <input asp-for="userSurname1" size="10" />
            <span asp-validation-for="userSurname1" class="text-danger"></span>
        </div>
    </p>
</form>

<!-- POST -->

<form asp-action="SelectUsersToBan" method="post">
    <table class="table"
           <thead> <!-- cabeceras de la tabla -->
                <th>
                    User ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    1st Surname
                </th>
                <th>
                    2nd Surname
                </th>
           </thead>
    </table>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="SelectUsersToBan" class="btn btn-default">Cancel</a>
</form>