@model MikeRosoft.Models.ProductViewModels.CreateProductViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BrandName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select class="form-control" asp-for="BrandName" asp-items="ViewBag.Brands">
                    @*<option disabled selected value="">Select a Genre</option>*@
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="precio" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="precio" class="form-control" />
                <span asp-validation-for="precio" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="stock" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="stock" class="form-control" />
                <span asp-validation-for="stock" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="rate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="rate" class="form-control" />
                <span asp-validation-for="rate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
